@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{ /* asterisco significa tudo */
    font-family: "Inter", sans-serif;;
    margin: 0;  /* ESPAÇAMENTO EXTERNO */
    padding: 0;  /* ESPAÇAMENTO INTERNO */
    box-sizing: border-box;
}
video {
    width: 100%;  /* LARGURA */
    height: 100%;  /* ALTURA */
    position: absolute; /* POSICIONAR ITEM EM POSIÇÃO EXATA */
    top: 0;
    left: 0;
    z-index: -1; /* DEFINE ORDEM, QUEM FICA NA FRENTE DE QUEM */
    object-fit: cover;
    filter: brightness(60%);
}

.logo {
    filter: brightness(100);
    position: fixed;
    width: 200px;
}

h1 {
    color: white;
    font-size: 50px;
}

.sub-titulo {
    color: white;
}

.info-carro {
    margin-top: 80px;
    text-align: center;
}

.item {
    position: relative;
    width: 100vw;  /* TELA TODA - LARGURA */
    height: 100vh; /* TELA TODA - ALTURA */
    position: relative;
    display: flex; /* HABILITA ALGUMAS PROPRIEDADES CSS*/
    justify-content: space-between; /* CRIA UM ESPAÇAMENTO ENTRE OS ITENS */
    flex-direction: column; /* DEIXAR UM ITEM DEBAIXO DO OUTRO */
}

.rodape{
    text-align: center; /* ALINHA NO CENTRO */
}

button {
    background-color: rgba(34, 34, 34, 0.8);
    color: white;
    padding: 7px 80px;
    border-radius: 5px; /* ARREDONDA BORDA */
    border: none; /* TIRA A BORDA */
    opacity: 0.8;
    cursor: pointer; /* MUDA O CURSOR AO PASSAR MOUSE EM CIMA */
}

.test-drive {
    background-color: white;
    color: black;
}

.texto-rodape {
    color: white;
    font-size: 12px;
    margin-top: 8px;
}

